body{
  background-color: #2E3141;
  color: white;
}

h1{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5rem;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.year{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 20rem;
  margin: 2rem;
  border-radius: 2rem;
  background-color: #353849;
  /* background-color: #e2d48e; */
}

h4{
  display: none;
}
